<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization culture="zh-CN" uiCulture="zh-CN"/>
    <customErrors defaultRedirect="~/Error.html"></customErrors>
  </system.web>
  <connectionStrings>
    <clear/>
    <add name="Main" connectionString="Data Source=(localdb)\v11.0;Integrated Security=SSPI;Initial Catalog=its0;" providerName="System.Data.SqlClient"/>
    <!--<add name="Main" connectionString="Data Source=;Initial Catalog=its0;User Id=;Password=;AttachDBFilename=;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>